@import "tailwindcss";
@import 'aos/dist/aos.css'; 

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

@theme {
    --font-title: "Manrope", sans-serif;
    --font-base: "Inter", sans-serif;
  }


html {
    scroll-behavior: smooth;
}

.container {
    @apply px-[3%] mx-auto  2xl:px-[6%];
}

