---
import { Image } from "astro:assets"
import profile from "../../assets/images/RenanDuarte.jpg"
---

<section class="h-dvh">
    <div class="container mx-auto py-20 px-4">
        <h2 class="font-bold text-3xl font-title">
            About me
        </h2>
        <p class="text-neutral-500 font-base max-w-prose mt-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum officiis nobis, illo itaque ab consequuntur repudiandae! Magnam quae, sint voluptatum ut odit voluptatibus impedit, placeat quisquam atque molestiae hic officia.
        </p>
        <p class="text-neutral-500 font-base max-w-prose mt-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum officiis nobis, illo itaque ab consequuntur repudiandae! Magnam quae, sint voluptatum ut odit voluptatibus impedit, placeat quisquam atque molestiae hic officia.
        </p>
        <p class="text-neutral-500 font-base max-w-prose mt-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum officiis nobis, illo itaque ab consequuntur repudiandae! Magnam quae, sint voluptatum ut odit voluptatibus impedit, placeat quisquam atque molestiae hic officia.
        </p>
        <div class="mt-8 ">
            <Image src={profile} alt="Renan Duarte profile" class="grayscale-100 rounded-4xl shadow-xl" />
        </div>
    </div>
</section>