---
import { Image } from "astro:assets"
import profile from "../../assets/images/RenanDuarte.jpg"
---

<section id="about" class="py-20 px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto">
            <div class="text-center mb-16">
                <h2 class="font-title font-bold text-4xl md:text-6xl mb-4">About me</h2>
                <p class="text-xl text-gray-300">
                  Learn a little about my history and passion for technology
                </p>
            </div>
            <div class="glass-effect rounded-2xl p-8 md:p-12">
                <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 items-center">
                    <div class="lg:col-span-1">
                        <div class="w-64 h-64 bg-gray-800 rounded-2xl mx-auto flex items-center justify-center">
                            <Image src={profile} alt="Profile Picture of Renan Duarte"/>
                        </div>
                    </div>
                    <div class="lg:col-span-2">
                        <p class=" text-lg text-gray-300 mb-6 leading-relaxed">
                            Hello! I am Renan Duarte. A front end developer passionate about create digital experiences that make a diference.

                            I love to transform design into interfaces for users. 
                        </p>
                        <p class=" text-lg text-gray-300 mb-6 leading-relaxed">
                            My journey began when I discovered programming during college. Since then, I've been
constantly learning new technologies and honing my skills to deliver
ever-better solutions.
                        </p>
                        <p class=" text-lg text-gray-300 leading-relaxed">
                            When I'm not coding, I enjoy playing video games and practicing jiu-jitsu. I'm always looking for inspiration for my next projects.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>