<section id="career" class="py-0 px-4 sm:px-6 md:px-8 md:py-20 relative scroll-auto md:min-h-dvh">
    <div class="max-w-4xl mx-auto flex flex-col md:flex-row">
        <div class="py-20 px-4 sm:px-6 md:px-8 text-center relative md:sticky h-fit md:top-1/2 md:py-0">
            <h2 class="text-4xl text-white font-semibold font-title">Career</h2>
            <p class="mt-4 text-lg md:text-xl text-gray-400 max-w-2xl mx-auto">
                My professional journey and key achievements
            </p>
        </div>

        <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
            <li class="mb-16 ms-4">
                <div data-aos="fade-up" class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time data-aos="fade-up" class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Jan 2024 - Present</time>
                <h3 data-aos="fade-up" class="text-lg font-semibold text-gray-900 dark:text-white">Mid-Level Marketing Analyst</h3>
                <p data-aos="fade-up" class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Creating responsive marketing emails and landing pages with dynamic content. Campaign strategy development and automation flows. A/B testing and market analysis.</p>
            </li>
            <li class="mb-16 ms-4">
                <div data-aos="fade-up" class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time data-aos="fade-up" class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">May 2021</time>
                <h3 data-aos="fade-up" class="text-lg font-semibold text-gray-900 dark:text-white">Junior Marketing Analyst</h3>
                <p data-aos="fade-up" class="text-base font-normal text-gray-500 dark:text-gray-400">Creating marketing emails and landing pages. Optimizing existing email campaigns. Market research and competitive analysis.</p>
            </li>
            
            <li class="mb-16 ms-4">
                <div data-aos="fade-up" class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time data-aos="fade-up" class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">December 2018</time>
                <h3 data-aos="fade-up" class="text-lg font-semibold text-gray-900 dark:text-white">IT Technician</h3>
                <p data-aos="fade-up" class="text-base font-normal text-gray-500 dark:text-gray-400">User support and customer service. Computer hardware maintenance, installation, and repair. Network configuration and setup. Help desk and service desk operations.</p>
            </li>
            <li class="mb-16 ms-4">
                <div data-aos="fade-up" class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time data-aos="fade-up" class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">January 2018</time>
                <h3 data-aos="fade-up" class="text-lg font-semibold text-gray-900 dark:text-white">Web Design Intern</h3>
                <p data-aos="fade-up" class="text-base font-normal text-gray-500 dark:text-gray-400">Learning and developing static and responsive web pages using HTML and CSS.</p>
            </li>
            <li class="mb-16 ms-4">
                <div data-aos="fade-up" class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time data-aos="fade-up" class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">January 2018</time>
                <h3 data-aos="fade-up" class="text-lg font-semibold text-gray-900 dark:text-white">Freelance Landing Page Designer</h3>
                <p data-aos="fade-up" class="text-base font-normal text-gray-500 dark:text-gray-400">
                    Creating responsive landing pages for friends and local businesses to build experience, develop skills, and secure my first professional role.
                </p>
            </li>
            <li class="mb-16 ms-4">
                <div data-aos="fade-up" class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time data-aos="fade-up" class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">January 2014</time>
                <h3 data-aos="fade-up" class="text-lg font-semibold text-gray-900 dark:text-white">Information Systems Degree</h3>
                <p data-aos="fade-up" class="text-base font-normal text-gray-500 dark:text-gray-400">
                    Bachelor's degree in Information Systems
                </p>
            </li>
            <li class="ms-4">
                <div data-aos="fade-up" class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                <time data-aos="fade-up" class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">March 2011</time>
                <h3 data-aos="fade-up" class="text-lg font-semibold text-gray-900 dark:text-white">Web Design Technical Course</h3>
                <p data-aos="fade-up" class="text-base font-normal text-gray-500 dark:text-gray-400">
                    First introduction to web development. Learned to use Dreamweaver and Fireworks, the industry-standard tools for website creation at the time.
                </p>
            </li>
        </ol>
    </div>
</section>