---
---
   
<footer class="border-t-1 border-t-gray-700 py-12 px-4 sm:px-6 lg:px-8 ">
        <div class="max-w-7xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <div>
                    <h3 class="font-title font-semibold text-xl mb-4 text-gray-100">Renan Duarte</h3>
                    <p class="font-base text-gray-500">
                        Front-end developer passionate about creating professional digital experiences.
                    </p>
                </div>
                <div>
                    <h4 class="font-title font-medium text-lg mb-4 text-gray-100">
                       Helpful Links
                    </h4>
                    <div class="space-y-2">
                        <a href="#projects" class="block font-base text-gray-500 hover:text-white transition-colors hover:underline">
                            Projects
                        </a>
                        <a href="#skills" class="block font-base text-gray-500 hover:text-white transition-colors hover:underline">
                            Skills
                        </a>
                        <a href="#about" class="block font-base text-gray-500 hover:text-white transition-colors hover:underline">
                            About
                        </a>
                        <a href="#career" class="block font-base text-gray-500 hover:text-white transition-colors hover:underline">
                            Career
                        </a>
                        
                    </div>
                </div>
                <div>
                    <h4 class="font-title font-medium text-lg mb-4 text-gray-100">Contact</h4>
                    <div class="space-y-2">
                        <p class="font-base text-gray-500 hover:text-white transition-colors">
                            <a href="mailto:renanduartedev@gmail.com">
                                renanduartedev@gmail.com
                            </a>
                        </p>
                        <p class="font-base text-gray-500 hover:text-white transition-colors"><a href="wa.me/+5513981052083">+55 (13) 9 8105-2083</a></p>
                        <p class="font-base text-gray-500 hover:text-white transition-colors">Praia Grande, SP - Brazil</p>
                        <p class="font-base text-gray-500 hover:text-white transition-colors">UTC-3 BRT</p>
                    </div>
                </div>
            </div>
            <span class=""></span>
            <div class="border-t-1 border-t-gray-700 mt-12 pt-8 text-center">
                <p class="text-gray-400 text-sm">
                    © 2026 - Designed and developed by Renan Duarte. All rights reserved.
                </p>
            </div>
        </div>
    </footer>