---

---

    <section id="hero" class="relative py-40 md:min-h-screen flex items-center justify-center overflow-hidden text-white">
        <div class="absolute inset-0">
            <div class="holographic-gradient absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-96 h-96 animate-float"></div>
        </div>
        <div class="relative z-10 text-center px-3 sm:px-6 lg:px-8 max-w-4xl mx-auto">
            <h1 class="font-title font-bold text-5xl leading-tight md:text-7xl lg:text-8xl mb-6">
                Renan Duarte
            </h1>
            <p class="text-lg max-w-prose md:text-2xl text-gray-300 mb-8">
                
            Front-end developer specializing in creating sophisticated digital experiences
            </p>
            <div class="space-x-4 flex flex-row items-center justify-center">
                <button class="px-6 py-3 bg-blue-600 hover:bg-blue-800 transition-colors  font-medium rounded-full">
                    <a href="#projects" >
                        View projects
                    </a>
                </button>
                <button class="px-6 py-3 border border-white/20 transition-colors  font-medium rounded-full hover:bg-blue-600 hover:border-blue-600">
                    <a href="#contact" >
                       Get in touch
                    </a>
                </button>
            </div>
        </div>
    </section>