---

---

    <section  id="hero" class="relative pt-28 pb-20 md:pt-32 flex flex-col items-center justify-center overflow-hidden text-white ">
        <div class="absolute inset-0 bg-gradient-to-r from-blue-400 to-teal-600 opacity-16 -z-20 mask-radial-[100%_100%] mask-radial-from-48% mask-radial-at-top"></div>
        <div class="container relative text-center px-3 sm:px-6 lg:px-8 max-w-6xl ">
            <h1 class="font-title text-4xl sm:text-6xl xl:text-7xl leading-tight text-white mb-0">
                <strong>Renan Duarte</strong>
            </h1>
            <p class="font-title text-lg sm:text-2xl leading-tight text-gray-200 mb-4">
Front-End Developer
            </p>
             <p class="font-base text-gray-300 mx-auto mt-6 max-w-2xs sm:max-w-lg text-center text-base sm:text-lg md:text-xl">
             I build high-converting, responsive, and SEO-optimized digital experiences using <span class="font-bold text-gray-200">Astro</span> and <span class="font-bold text-gray-200">Tailwind CSS</span>.
             </p>
            <div class="flex flex-row items-center justify-center mt-8 cursor-pointer gap-4 transition-all md:text-lg font-title">
                <a href="mailto:renanduartedev@gmail.com" class="bg-sky-700 hover:bg-sky-800 rounded-full flex flex-row py-2 px-6 justify-start transition-all group focus:outline-2 focus:outline-sky-400 focus:outline-offset-2">
                  Let's Talk
                </a>
                <a href="#projects" class="ring-1 ring-white/50 rounded-full hover:bg-sky-700 hover:ring-sky-700 flex flex-row py-2 px-6 justify-start transition-all focus:outline-2 focus:outline-sky-400 focus:outline-offset-2">
                 See Portfolio
                </a>
            </div>
        </div>
    </section>
  
           
  
      
