---
import { Image } from "astro:assets";
import bgHero from '../../assets/images/bg-purple.jpg'

---

    <section  id="hero" class="relative pt-28 pb-20 md:pt-32 flex flex-col items-center justify-center overflow-hidden text-white">
        <div class="container relative text-center px-3 sm:px-6 lg:px-8 max-w-4xl ">
            <h1 class="font-title text-4xl sm:text-5xl xl:text-6xl leading-tight text-white mb-0">
                <strong>Renan Duarte</strong>
            </h1>
            <p class="font-title text-lg leading-tight text-gray-300 mb-4">
Front-End Developer
            </p>
             <p data-aos="fade" data-aos-duration="1500" class="font-base text-gray-400 mx-auto mt-4 max-w-2xs sm:max-w-lg text-center text-lg sm:text-xl">
             I build high-converting, responsive, and SEO-optimized digital experiences using <span class="font-bold text-white">Astro</span> and <span class="font-bold text-white">Tailwind CSS</span>.
             </p>
            <div class="flex flex-row items-center justify-center mt-8 cursor-pointer gap-4 transition-all md:text-lg font-title">
                <a href="mailto:renanduartedev@gmail.com" class="bg-gradient-to-r from-purple-500 to-purple-900 hover:bg-gradient-to-r hover:from-violet-600 hover:to-indigo-600 rounded-full hover:bg-linear-to-blue-200 flex flex-row py-2 px-6 justify-start shadow-lg/0 hover:shadow-lg/32 hover:shadow-indigo-600 transition-colors duration-400 group">
                  Let's Talk 
                </span> 
                </a>
                <a href="#projects" class="ring-1 hover:bg-gradient-to-r hover:from-violet-600 hover:to-indigo-600 rounded-full hover:bg-linear-to-blue-200 flex flex-row py-2 px-6 justify-start shadow-lg/0 hover:shadow-lg/32 hover:shadow-indigo-400 hover:ring-indigo-500 transition-all duration-300">
                 See Portfolio
                </span> 
                </a>
            </div>
        </div>
    </section>
      <Image src={bgHero} alt="background hero image" class="object-cover w-fit top-0 h-[300vh] absolute -z-1 mask-b-from-1"/>
