---

---

<nav role="menubar" data-nav class="w-full fixed z-100 bg-neutral-50/32 text-neutral-950 px-6 py-4 lg:py-0 backdrop-blur-xl"
>
  <h2 id="menuLabel" class="sr-only">Navegação Principal</h2>
  <div class="container mx-auto w-full flex flex-row justify-between  lg:items-center">
    <div class="w-fit leading-tight">
      Renan<br>Duarte
    </div>

    <button id="menuButton" aria-label="Abrir menu principal" aria-controls="menu-content" aria-expanded="false" data-menu-toggle class="cursor-pointer flex flex-col w-[20px] relative [&_span]:absolute [&_span]:block [&_span]:w-full [&_span]:h-[.16rem] [&_span]:bg-white [&_span]:transition-all [&_span]:rounded-xl lg:hidden"
    >
      <span aria-expanded="false" class="top-3.5 aria-expanded:rotate-45 aria-expanded:top-5"></span>
      <span aria-expanded="false" class="top-6 aria-expanded:-rotate-45 aria-expanded:top-5"></span>
    </button>

    <ul aria-label="Navigation" id="menuContent" aria-expanded="false" class="text-neutral-950 absolute w-full h-auto [&_li]:p-4  [&_li]:cursor-pointer -z-10 transition-transform top-[var(--nav-height)] translate-x-[200%] aria-expanded:translate-x-1/2 block duration-300 lg:relative lg:translate-0 lg:flex lg:flex-row lg:w-fit lg:gap-x-4 lg:z-0 lg:top-0 md:transition-none">
      <li role="none" class="">Home</li>
      <li role="none" class=""><a role="menuitem" href="#projects">Projects</a></li>
      <li role="none" class="">About</li>
      <li role="none" class="">Get in touch</li>
    </ul>
  </div>
</nav>

<script is:inline>
  const nav = document.querySelector("[data-nav]");
  const menuButton = document.querySelector("[data-menu-toggle]");
  const bars = menuButton.querySelectorAll("span");
  const menuContent = document.getElementById("menuContent");

  document.documentElement.style.setProperty('--nav-height', `${nav.offsetHeight}px`);
 
  menuButton.addEventListener("click", () => {
    const isExpanded = menuButton.getAttribute("aria-expanded") === "true";
    const elements = [menuButton, menuContent, ...bars];
  
    elements.forEach(el => {
        el.setAttribute("aria-expanded", !isExpanded);
    });

});

</script>
