---
import "../styles/global.css";
import "remixicon/fonts/remixicon.css"
import SEO from "../components/SEO.astro";
import Nav from "../components/Nav.astro";
---

<!DOCTYPE html>
<html lang="pt-BR" class="scroll-smooth">
  <SEO title="Renan Duarte | Font-end Developer" description="Font-end Developer" image="../assets/RenanDuarte.jpg" />
   <script src="/scripts/aos.js" defer is:inline></script>
    <script is:inline>
      document.addEventListener('DOMContentLoaded', () => {
        AOS.init({ once: true, offset: 50 });
      });
    </script>
  <body class="bg-[#16171b] bg-[url('/grain-texture.avif')] bg-repeat bg-[size:200px_200px]">
    <Nav />
         <main class="relative">
           <slot />
         </main>
  </body>

</html>