---
import "../styles/global.css";
import "remixicon/fonts/remixicon.css"
import SEO from "../components/SEO.astro";
import Nav from "../components/Nav.astro";
---

<!DOCTYPE html>
<html lang="pt-BR" class="scroll-smooth">
  <SEO title="Renan Duarte | Font-end Developer" description="Font-end Developer" image="../assets/RenanDuarte.jpg" />
  <body class="bg-black text-white font-base antialiased">
    <Nav />
         <main>
           <slot />
         </main>
  </body>
</html>